<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fortune_client.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
				<key>dateExpires</key>
				<string>2023/08/06</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>7.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>5.13.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>open_filex.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B52512D602B05465790C8CBB79783191FCF7488</string>
						<key>dateExpires</key>
						<string>2023/08/06</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>39M6CDK4XU</string>
						<key>name</key>
						<string>Maki Daisuke</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>39M6CDK4XU.com.ShareFortune.fortune</string>
				<key>com.apple.developer.team-identifier</key>
				<string>39M6CDK4XU</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e82ed30f-afc6-44da-826c-23a03c70692f</string>
				<key>dateExpires</key>
				<string>2023/11/30</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ShareFortune.fortune</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>39M6CDK4XU</string>
				<key>name</key>
				<string>Maki Daisuke</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
